body{
    background-color:lightcyan
} 

.container {
    width:1000px;
    margin:0 auto;
    padding: 50px;
    background-color:lightgreen;
    border: 5px dotted black;
}
.nav {
    list-style:none;
    text-align: center;
}

.nav li {
    display:inline;
    margin-right: 30px;
}

.div-test {
    background-color:darkslategray;
    text-align: center;
    color:white;
}  

.span1 {
    font-size: 50px;
}

.span2 {
    font-size: 60px;
}